.shiny-text {
  background: linear-gradient(
    120deg,
    rgba(99, 102, 241, 0.7) 30%,   /* indigo */
    rgba(255, 255, 255, 0.9) 50%,  /* white shine */
    rgba(139, 92, 246, 0.7) 70%    /* violet */
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 5s linear infinite;
}


@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
